@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway");

*{
  box-sizing: border-box;
}

/*carousels and navbar*/
.navbar-inverse{
  background-color: #ADD8E7;
  border-color: transparent;
}

.navbar-inverse .navbar-brand{
  color:aliceblue;
  font-size: 40px;
  padding: 40px 15px;
  font-weight: 940;
}

.nav .navbar-nav .navbar-right{
  margin: 25px 0;
}

.navbar-inverse .navbar-nav>li>a{
  color:#fff;
  text-transform: uppercase;
}

body{
  padding:1em;
  font-family: 'Poppins', sans-serif;
}

header .carousel-inner .item{
  height:100vh;
}

.banner{
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.carousel-caption{
  padding-bottom: 245px;
  font-family: 'Poppins';
}

.carousel-caption h2{
  font-size: 70px;
  text-transform:uppercase;
  font-weight: bold;
}

.carousel-caption h2 span{
  color: orange;
}


.carousel-caption a{
  background: #EDBB00;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}

.carousel-indicators .active{
  background-color: #EDBB00;
  border-color: #EDBB00;
}

.carousel-control.right{
  background-image: none;
}

.carousel-control.left{
  background-image: none;
}

div.content{
  align-content: center;
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 4%; 
  width: 80%;
}

h4.innercontent{
  font-weight: normal; 
  line-height: 0.8cm; 
  color:#686C6D; 
  padding-top: 1%;
}

table.responsiveTable{
  border-collapse: collapse;
  width: 100%;
}

table.responsiveTable thead th{
  border: 2px solid #E6E6E6;
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 2.3%;
  padding-bottom: 2.3%;
  font-size: large;
}

table.responsiveTable tbody td{
  border: 2px solid #E6E6E6;
  padding: 1.5%;
  font-size: large;
}

img{
  width: 250px;
  height: auto;   
}

div.instruction{
  text-align: center;
  font-weight: bolder;
  padding: 1%;
  font-size: 23px;
}

div.button{
  text-align: center;
  font-weight: bolder;
  font-size: 23px;
  padding: 1%;
  margin: auto;
}

div.button button{
  padding: 1.5% 8%;
  border-radius: 10px;
  background-color: #83F384;
  border-width: 0px;
}

div.protect{
  width: 65%;
  margin: auto;
  text-align: center;
  font-size: 17px;
}

div.follow{
  font-size: 19px;
  margin: auto;
  text-align: center;
}

a.link{
  color: black;
}

div.icons{
    font-size: 19px;
    margin: auto;
    text-align: center;
}

div.input{
  font-weight: bolder;
}

span.star{
  color: red;
}

span.error{
    color: #ed7e00;
    font-weight: normal;
}
/* responsive css*/
@media only screen and (min-width: 768px)and (max-width: 990px){
  .carousel-caption {
		padding-bottom: 350px;
	}
	.carousel-caption h2 {
		font-size: 50px;
	}
  
}


@media only screen and (max-width: 768px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
}